@use 'style/grid.scss';

.skills {
  
  :global {
    .skill-lists {
      display: flex;
      flex-direction: column;
      gap: grid.$space-4;
    }
    .wrap {
      display: flex;
      flex-direction: column;
      gap: grid.$space-2;
    }
  }
}