@use 'style/grid.scss';
@use 'style/color.scss';

.mainNavigation {
  position: sticky;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: color.$bg;
  
  :global {
    nav {
      border-radius: grid.$radius-3;
      padding: grid.$space-1;
      box-shadow: 0 -3px 15px rgba(0, 0, 0, 0.2);
  
      display: flex;
      align-items: center;
      justify-content: center;
      gap: grid.$space-1;
    }
  }
}