@use 'style/grid.scss';

.portfolio {
  :global {
    .wrap {
      display: flex;
      flex-direction: column;
      gap: grid.$space-3;

      &.parent {
        gap: grid.$space-1;
      }
    }
  
    .wrap + .wrap {
      margin-top: grid.$space-4;
    }
  }
}