@use '../../style/grid.scss';
@use '../../style/font.scss';

#about {
  display: flex;
  gap: grid.$space-2;

  .info {
    width: 100%;
  }

  hr {
    margin: grid.$space-3 0;
  }

  .about {
    display: none;
  }

  .accent {
    @include font.secondary;
  }

  .bold {
    font-weight: 600;
  }

  .row.mobile {
    display: none;

    @include font.heading-2;
    margin-bottom: grid.$space-2;
  }

  @include grid.mobile {
    @include grid.split;

    .about {
      display: block;
    }

    .info {
      @include grid.column-center;
    }

    .row.mobile {
      display: block;
    }
  }

  @include grid.small {
    @include grid.column;

    .info {
      margin-top: grid.$space-4;

      text-align: center;
    }
  }
}