@use 'style/grid.scss';
@use 'style/font.scss';

.about {
  display: flex;
  gap: grid.$space-2;

  :global {
    .about-me {
      display: none;
    }
  
    .info {
      width: 100%;
    }

    .row {
      .accent {
        @include font.heading-3;
      }
    }
  
    .bold {
      font-weight: 600;
    }
  
    .block + .block {
      margin-top: grid.$space-3;
      padding-top: grid.$space-3;
      border-top: 1px solid;
    }
  
    .row.mobile {
      display: none;
      margin-bottom: grid.$space-2;
  
      @include font.heading-2;
    }
  
    @include grid.mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .about-me {
        display: block;
      }
  
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
  
      .row.mobile {
        display: block;
      }
    }
  
    @include grid.small {
      display: flex;
      flex-direction: column;
  
      .info {
        margin-top: grid.$space-4;
  
        text-align: center;
      }
    }
  }
}