$sidebar-width: 260px;

$section-xy: 60px 70px;
$section-xy-mobile: 50px 25px;
$heading-y: 40px;

$space-0: 0;
$space-0-1: 3px;
$space-0-2: 5px;
$space-1: 10px;
$space-1-1: 15px;
$space-2: 18px;
$space-3: 25px;
$space-4: 40px;
$space-5: 60px;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin jc-start {
  display: flex;
  align-items: center;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin mobile {
  @media (max-width: 720px) {
    @content;
  }
}

@mixin small {
  @media (max-width: 450px) {
    @content;
  }
}
