@use '../../style/grid.scss';
@use '../../style/color.scss';

.sidebar {
  .info {
    margin-top: grid.$space-4;
  }
  
  .social {
    @include grid.jc-start;
    gap: grid.$space-2;
    margin-top: grid.$space-3;
  
    img {
      width: 20px;
      height: 20px;
    }
  }
  
  .navigation {
    @include grid.column;
    gap: grid.$space-1;
    margin-top: grid.$space-3;
  
    a {
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}