@use 'style/grid.scss';
@use 'style/color.scss';
@use 'style/util.scss';

.sidebar {
  :global {
    .aside-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: grid.$space-4 grid.$space-3;
      overflow-y: scroll;

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      }

      &::-webkit-scrollbar {
        width: 7px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-image: -webkit-gradient(linear,
          left bottom,
          left top,
          color-stop(0.44, color.$bg-sixth),
          color-stop(0.86, color.$bg-seventh)
        );
      }
    }

    .info {
      margin-top: grid.$space-4;
    }
    
    .social {
      display: flex;
      align-items: center;
      gap: grid.$space-2;
      margin-top: grid.$space-3;
      margin-bottom: grid.$space-4;
    
      a {
        width: 25px;
        height: 25px;
      }
    }
  }
}

:global {
  main {
    width: calc(100% - grid.$sidebar-width);
  }

  @include grid.mobile {
    main {
      width: 100%;
    }

    aside {
      display: none;
    }
  }
}