@use '../../style/color.scss';
@use '../../style/grid.scss';
@use '../../style/font.scss';

:global {
  @media print {
    aside {
      display: none !important;
    }
    
    .page-content {
      max-width: 100%;
    }
    
    .container {
      width: 100%;
      max-width: 100%;
    }
    
    main {
      width: 100% !important;
    }
  }
}