@use 'style/grid.scss';
@use 'style/color.scss';

.skillsBlock {
  :global {
    background-color: color.$fifth;

    .container-skills {
      padding: grid.$space-1 grid.$space-3;

      h1 {
        font-size: 20px;
        padding: grid.$space-1 0;
      }
    }

    .skills {
      padding: 0 grid.$space-1-1;
      display: flex;
      flex-direction: column;
      gap: grid.$space-1;

      li {
        font-size: 16px;
      }
    }

    @media print {
      h1 {
        font-size: 18px !important;
        padding: grid.$space-2 0;
      }

      li {
        font-size: 16px !important;
      }
    }
  }
}