@use 'style/grid.scss';

.profileBlock {
  a {
    text-decoration: none;
    color: inherit;
  }

  :global {
    background-color: #333 !important;
    color: #fff !important;
    padding: grid.$space-1-1 grid.$space-3;

    .name {
      font-size: 35px;
    }

    .icon {
      width: 2em;
    }

    .profile {
      display: flex;
      flex-direction: column;
    }

    .info-container {
      margin-top: grid.$space-3;
      display: flex;
      flex-direction: column;
      gap: grid.$space-1;
    }

    .info {
      display: flex;
      gap: grid.$space-1;
      align-items: center;
    }

    .position {
      font-size: 24px;
      color: #fff;
      padding-top: grid.$space-1-1;
    }

    .text {
      font-size: 16px;
    }

    @media print {
      .text {
        font-size: 13px !important;
        line-height: 20px !important;
      }

      .icon {
        width: 1.25em !important;
      }

      .position {
        font-size: 16px !important;
      }
    }
  }
}