@use '../../../../style/grid.scss';
@use '../../../../style/color.scss';

.portfolio-block {
  display: flex;
  gap: grid.$space-0-2;

  .block {
    @include grid.jc-start;
    flex-grow: 1;
    padding: grid.$space-1;
  
    background-color: color.$secondary;
    border-radius: 5px;
    text-decoration: none;
    
    &.single {
      width: 100%;
    }
    
    &.external {
      @include grid.center;
      flex-grow: 0;
      width: 80px;
    }

    .icon {
      @include grid.center;
  
      width: 25px;
      height: 25px;
    }
  
    p {
      margin-left: grid.$space-1;
    }
  }

  &.with-tech-stack {
    a {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.tech-stack {
  @include grid.jc-start;
  flex-wrap: wrap;
  gap: grid.$space-1;
  background-color: rgba(color.$secondary, 0.4);
  z-index: 2;
  padding: grid.$space-1;
  margin-top: grid.$space-0-1;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  .tech-stack-item {
    background-color: color.$background-third;
    color: color.$secondary;
    font-weight: 400;
    padding: 1px grid.$space-1;
    border-radius: 5px;
  }
}